$small: 670px;
$medium: 800px;

.task {
    background-color: var(--card);
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-radius: 5px;

    .title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;

        h2 {
            font-size: 28px;
            @media screen and (max-width: $small) {
                font-size: 12px;
            }
            @media screen and (max-width: $medium) {
                font-size: 10px;
            }
        }
        
        .edits {
            display:flex;

            button {
                margin-left: 15px;
                border: none;
                border-radius: 3px;
                padding: 9px 15px;
                font-weight:700;
                cursor: pointer;
                @media screen and (max-width: $small) {
                    margin-left: 10px;
                    padding: 1px 3px;
                    font-size: 8px;
                    font-weight: 400;
                }
                @media screen and (max-width: $medium) {
                    margin-left: 10px;
                    padding: 1px 3px;
                    font-size: 8px;
                    font-weight: 400;
                }

                &.editButton {
                    background-color: var(--hover-color);
                    color: var(--primary-text);
                }

                &.deleteButton {
                    background-color: red;
                    color: var(--primary-text);
                }

                &.complete {
                    background-color: green;
                }

                &.incomplete {
                    background-color: red;
                }
            }
        }
    }

    .desc {
        margin: 0 15px;
        margin-bottom: 30px;

        p {
            color: var(--secondary-text);
            font-size: 16px;
            font-weight: 700;
            @media screen and (max-width: $small) {
                font-size: 12px;
            }
        }
    }

    .save {
        margin: 0 15px;
        text-align: right;
        padding-bottom: 15px;

        button {
            margin-left: 30px;
        }
    }
}